body{

    margin: 0;
    padding: 0;
   
    background-color: rgb(30, 0, 77);
   
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
 

.head{
    width: 100%;
    text-align: center;
    background-color: rgb(92,52,155);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Noto Sans Mono", monospace;

}

.task-table{
    background-color: rgb(239,239,239);
    width: 60%;
    /* height: 500px; */
    margin: 130px;
   
}

.title{
    display: inline;
}
.btn1{
    float: right;
    background-color: white;
    margin-right: 10px;
}

.circular{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 0;
}
button{
    border: none;
    font-size: 20px;
    box-shadow: 0px 3px 5px rgb(168,168,168,o.38);
}

.task {
    display: flex;
    background-color: white;
    padding: 5px;
    border-bottom: solid black 1px;
    transition: box-shadow 0.2s;
    font-family: "Noto Sans Mono", monospace;

}

.task:hover{
    box-shadow: 0px 3px 15px rgba(97,97,97, 0.843);
}

.done{
    background-color: rgb(81, 255, 0);
}

